<header>
  <img routerLink="/home" src="../../assets/logo.svg" alt="logo" width="35px" height="35px">
  <label routerLink="/home">AKRAM's ART GALLERY</label>
  <div class="loginDiv" (click)="visibleSidebar1 = true" *ngIf="!logged">
      <img src="../../assets/user.svg" alt="user" width="18px" height="18px">
      <span i18n>Login</span>
  </div>
  <div class="loginDiv" *ngIf="logged">
      <img src="../../assets/user.svg" alt="user" width="18px" height="18px">
      <span>{{uName}}</span>
  </div>
  <img class="moreDiv" (click)="visibleSidebar2 = true" src="../../assets/more.svg" alt="more" width="20px" height="25px">
</header>

<p-sidebar [(visible)]="visibleSidebar2" position="right" [baseZIndex]="10000">
  <h4 [ngStyle]="{'font-weight':'normal'}">Welcome, {{uName}}</h4>

  <ul class="sideHeader list-group">
      <li class="pt-2 pl-3 pr-1 pb-2 list-group-item d-flex justify-content-between align-items-center" routerLink="/mycart/paint" (click)="visibleSidebar2 = false;">My Cart <span class="cartIcon badge badge-primary badge-pill"></span></li>
      <li class="pt-2 pl-3 pr-1 pb-2 list-group-item d-flex justify-content-between align-items-center" routerLink="/dashboard" (click)="visibleSidebar2 = false;">Add Item <pre> - admin</pre><span class="addItemIcon badge badge-primary badge-pill"></span> </li>
      <li class="pt-2 pl-3 pr-1 pb-2 list-group-item d-flex justify-content-between align-items-center" routerLink="/aboutme" (click)="visibleSidebar2 = false;">About Me <span class="iIcon badge badge-primary badge-pill"></span></li>
      <li class="pt-2 pl-3 pr-1 pb-2 list-group-item d-flex justify-content-between align-items-center" (click)="logoutClk()" (click)="visibleSidebar2 = false;">Logout <span class="logoutIcon badge badge-primary badge-pill"></span></li>
  </ul>
  
  <h4 class="mt-5 mb-3">Quick Links</h4>
    <div id="tagcloud">
        <a href="#" rel='4' routerLink="/painting" (click)="visibleSidebar2 = false;"><span>Painting</span></a>
        <a href="#" rel='15' routerLink="/photography" (click)="visibleSidebar2 = false;"><span>Photography</span></a>
        <a href="#" rel='15' routerLink="/photography"  (click)="visibleSidebar2 = false;"><span>Photography</span></a>
        <a href="#" rel='4' routerLink="/painting" (click)="visibleSidebar2 = false;"><span>Painting</span></a>
        <a href="#" rel='15' routerLink="/photography" (click)="visibleSidebar2 = false;"><span>Photography</span></a>
        <a href="#" rel='5' routerLink="/dashboard" (click)="visibleSidebar2 = false;"><span>Poetry</span></a>
        <a href="#" rel='2' routerLink="/dashboard" (click)="visibleSidebar2 = false;"><span>Other Art</span></a>
    </div>
</p-sidebar>
<p-sidebar [(visible)]="visibleSidebar1" position="top" [baseZIndex]="10000" [showCloseIcon]='false'>
    <app-login (userClk)="userClkRes($event)"></app-login>
</p-sidebar>