<section>
  <div>
      <h1>I am Mohammed Akram Faiz Ahmed.</h1>
      <h3>I am an Artist, Photographer, Movie Maker and an Explorer.</h3>
      <h6>
        <ul>
          <li> 
            <span class="contact"></span>
            <label>+91 7799151786</label>
          </li>
          <li>
              <span class="mail"></span>
              <label>akramfaiz411@gmail.com</label>
          </li>
          <li class="forkJoined">
              <span class="fb"></span>
              <pre></pre>
              <label class="topL"> <i>Paintings: </i> https://www.facebook.com/AkramFaiz.Wid.U.4EvEr</label>
              <label class="bottomL"> <i>Photography: </i> https://www.facebook.com/AkkysPhotography4u</label>
          </li>
          <li class="forkJoined">
              <span class="insta"></span>
              <pre></pre>
              <label class="topL"> <i>Paintings: </i> https://www.instagram.com/akramfaiz_akky/</label>
              <label class="bottomL"> <i>Photography: </i> https://www.instagram.com/akkysphotography4u/</label>
          </li>
        </ul>
      </h6>
  </div>
</section>