section{
    background: url(../../assets/aboutMe.jpg) repeat center;
    background-size: contain;
}
section > div{
    width: 100%;
    height: 100%;
    padding: 2%;
    color: #f7c463;
    background: rgba(35, 33, 47, 0.73);
    font-family: font2;
}
h3{
    font-family: fontL;
}
h6{
    font-family: fontLI;
}
i{
    font-family: font1;
}
ul li span,ul li label,pre{
    display: inline-block;
    vertical-align: middle;
    margin: 15px 0px;
    left: 80px;
    right: 0px;
}
ul li span{
    width: 30px;
    height: 30px;
    margin: 0 5px 0 0;
}
.contact{
    background: url(../../assets/contact.svg) no-repeat center;   
    background-size: 25px 25px;
}
.mail{
    background: url(../../assets/mail.svg) no-repeat center;   
    background-size: 25px 25px;
}
.fb{
    background: url(../../assets/fb.svg) no-repeat center;   
    background-size: 25px 25px;
}
.insta{
    background: url(../../assets/insta.svg) no-repeat center;   
    background-size: 25px 25px;
}
.forkJoined{
    position: relative;
}
.forkJoined label{
    position: absolute;
}
.forkJoined label.topL{
    top: 5px;
}
.forkJoined label.bottomL{
    bottom: 5px;
}
pre{
    width: 40px;
    height: 60px;
    background: url(../../assets/fork.svg) no-repeat center;   
    background-size: 35px 40px;  
}
