.asceSort,.descSort,.like{
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
}
.asceSort:hover{
    background: url(../../../assets/asce.svg) no-repeat center rgba(255,255,255,0.2);
    background-size: 100% 100%;
    border-radius: 100%;
}
.descSort:hover{
    background: url(../../../assets/desc.svg) no-repeat center rgba(255,255,255,0.2);
    background-size: 100% 100%;
    border-radius: 100%;  
}
.like:hover{
    background: url(../../../assets/like.svg) no-repeat center rgba(255,255,255,0.2);   
    background-size: 65% 65%;
    border-radius: 100%;  
}
.asceSort{
    background: url(../../../assets/asce.svg) no-repeat center;
    background-size: 100% 100%; 
}
.descSort{
    background: url(../../../assets/desc.svg) no-repeat center;
    background-size: 100% 100%; 
}
.like{
    background: url(../../../assets/like.svg) no-repeat center;   
    background-size: 65% 65%;
}
.rangeDiv{
    font-family: fontL;
    color: #ab843a;
    font-size: 14px;
    padding: 10px 15px;
    height: 50px;
}
.rangeDiv ul{
    float: right; 
    margin: 0 0 10px 0;
}
.rangeDiv ul li{
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
}
.rangeDiv ul li span{
    position: absolute;
    top: -25px;
}
.rangeDiv label{
    font-family: font1;
    margin: 0;
}
div.ui-g{
    justify-content: center;
}
.cardDiv{
    float: left;
    height: 220px;
    text-align: center;
}