<div>
    <img src="{{imageList.path}}" [style.width]="imageList.width" height="100%" alt="assets" (click)="imgClk(imageList.path)">
    <ul>
        <li><span id="price"></span><label for="price">{{imageList.cost|number}}</label></li>
        <li><span [ngClass]="{'like':likeFlag,'unlike':!likeFlag}" (click)="likeFlag = !likeFlag"></span></li>
        <!-- {{imageList.cost|currency:'INR'}} -->
        <li><span [ngClass]="{'cartAdd':cartAct,'cartRemove':!cartAct}" (click)="alertLogin();"></span></li>
    </ul>
</div>
