div{
    background: rgba(0,0,0,0.5);
    padding: 0 0 35px 0;
    height: 100%;
}
div:hover {
    cursor: pointer;
}
div,img{
    border-radius: 10px;
}
ul{
    text-align: left;
    padding: 5px;
}
ul li{
    display: inline-block;
    width: 15%;
    text-align: right;
}
ul li:first-child{
    width: 70%;
    text-align: left;
}
span,label{
    display: inline-block;
    vertical-align: middle;
    color: #e0995e;
}
ul li span{
    width: 45px;
    height: 25px;
}
ul li label{
    margin-bottom: 3px;
}
.like{
    background: url(../../assets/like.svg) no-repeat center;   
    background-size: 25px 25px;
}
.unlike{
    background: url(../../assets/unlike.svg) no-repeat center;   
    background-size: 25px 25px;
}
.cartAdd{
    background: url(../../assets/cart_fill.svg) no-repeat center;   
    background-size: 32px 25px;
}
.cartRemove{
    background: url(../../assets/cart_empty.svg) no-repeat center;   
    background-size: 32px 25px;
}
#price{
    background: url(../../assets/rupee.svg) no-repeat center;   
    background-size: 100%;
    width: 18px;
    height: 18px;
}

@media only screen and (min-width: 600px) {
    ul li span{
        width: 35px;
    }
}