.cardDiv {
    background: rgba(90, 75, 75, 0.51);
    position: relative;
}
span,label{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}
.fa {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
}
#price{
    background: url(../../../assets/rupee.svg) no-repeat center;   
    background-size: 100%;
    width: 18px;
    height: 18px;
}
ul{
    position: relative;
}
ul li{
    float: left;
    text-align: center;
    background: rgba(217, 217, 217, 0.12);    
    box-shadow: 0px 0px 1px rgba(171, 132, 58, 0.61);
    padding: 15px;
}
ul li:hover{
    background: rgba(217,217,217,.12);
}
ul li i.active{
    position: absolute;
    background: url(../../../assets/click.png) no-repeat center;   
    background-size: 100%;
    width: 18px;
    height: 18px;   
    top: 5px;
    left: 5px;
}
#paytm,#aPay,#nBank,#purse{
    width: 100%;
    height: 50px;
}
#paytm{
    background: url(../../../assets/paytm.svg) no-repeat center;   
    background-size: 100px;
}
#aPay{
    background: url(../../../assets/amazon.svg) no-repeat center;   
    background-size: 100px;
}
#nBank{
    background: url(../../../assets/card.svg) no-repeat center;   
    background-size: 50px;
}
#purse{
    background: url(../../../assets/purse.svg) no-repeat center;   
    background-size: 50px;
}
h4,h5,p label{
    color: #f7c463;
}

button{
    position: absolute;
    right: 10px;
    bottom: 0;
    color: #ab843a;
    background: rgba(108, 117, 125, 0.4);
}
button:hover {
    color: #23212f;
    background: #ab843a;
}

@media only screen and (max-width: 768px) {
    button{
        position: relative;
        float: right;
        right: auto;
        margin: 30px 0 10px 0;
    }
}