
/* Pop Up */
::ng-deep .vertical-center-modal {
    display: flex;
    align-items: center;
    justify-content: center;
}
::ng-deep .vertical-center-modal .ant-modal {
    top: 0;
}
ul{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}
ul li{
    color: #e0995e;
    height: 100%;
    padding: 10px;
}
ul li,#price,textarea,textarea+p,h6,h6+p,ul.flex-container li span,ul.flex-container li label{
    vertical-align: middle;
    display: inline-block;
}
ul.desc{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
ul.desc li{
    justify-items: center;
    display: inherit;
}
p{
    margin: 0;
}
ul.flex-container li span{
    width: 45px;
    height: 25px;
}

.like{
    background: url(../../assets/like.svg) no-repeat center;   
    background-size: 25px 25px;
}
.unlike{
    background: url(../../assets/unlike.svg) no-repeat center;   
    background-size: 25px 25px;
}
.cartAdd{
    background: url(../../assets/cart_fill.svg) no-repeat center;   
    background-size: 32px 25px;
}
.cartRemove{
    background: url(../../assets/cart_empty.svg) no-repeat center;   
    background-size: 32px 25px;
}
#price{
    background: url(../../assets/rupee.svg) no-repeat center;   
    background-size: 100%;
    width: 18px;
    height: 18px;
    margin: 0;
}
textarea,h6{
    background: rgba(104, 103, 107, 0.1);
    border: 1px solid rgba(224, 153, 94, 0.25);
}
textarea+p{
    background: url(../../assets/enter.svg) no-repeat center;   
    background-size: 25px 25px;
    width: 30px;
    height: 25px;
}
h6{
    padding: 10px;
}
h6+p{
    background: url(../../assets/edit_icon.svg) no-repeat center;   
    background-size: 25px 25px;
    width: 30px;
    height: 25px;
}
@media only screen and (max-width: 768px) {
    ul li{
        margin: 0px;
    }
    ul.flex-container li,ul.desc li:last-child{
        display: inline-block;
        vertical-align: middle;
    }
    label.text-right{
        text-align: left !important;
    }
}



