<nz-modal nzWrapClassName="vertical-center-modal" nzOkText="Ok"
  nzCancelText="Close" [(nzVisible)]="isVisibleMiddle" 
  nzTitle="Vertically centered modal dialog" (nzOnCancel)="handleCancelMiddle()" 
  (nzOnOk)="handleOkMiddle()">
    <p> <img width="100%" height="100%" [src]="imageDetail" alt="image" /> </p>
    <ul class="desc">
        <li [style.flex-direction]='column'> <h4>Title</h4></li>
        <li [style.flex-direction]='column'> <span>Desc</span> </li>
        <li [style.flex-direction]='column'> <span>Info</span> </li>
    </ul>
    <ul class="flex-container">
        <li id="comment"><label class="mr-2" for="comment">Comment</label> <textarea #comment name="comment" id="comment"></textarea><p class="ml-4" (click)="commentSubmit(comment)"></p></li>
        <li><span [ngClass]="{'like':likeFlag,'unlike':!likeFlag}" (click)="likeFlag = !likeFlag;"></span><span [ngClass]="{'cartAdd':cartAct,'cartRemove':!cartAct}" (click)="cartSelected(imageList);"></span></li>
    </ul>
  </nz-modal>
