
/* Pop Up */
::ng-deep .vertical-center-modal {
    display: flex;
    align-items: center;
    justify-content: center;
}
::ng-deep .vertical-center-modal .ant-modal {
    top: 0;
}
ul{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}
ul li{
    color: #e0995e;
    height: 100%;
    padding: 10px;
}
ul li,#price,textarea,textarea+p,em,em+p,p.comment__delIcon,
ul.desc li:first-child span,ul.desc li:first-child label{
    vertical-align: middle;
    display: inline-block;
}
ul.desc{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
ul.desc li{
    justify-items: center;
    display: inherit;
}
p{
    margin: 0;
}
ul.desc li:first-child span{
    width: 40px;
    height: 25px;
}

.like{
    background: url(../../assets/like.svg) no-repeat center;   
    background-size: 25px 25px;
}
.unlike{
    background: url(../../assets/unlike.svg) no-repeat center;   
    background-size: 25px 25px;
}
.cartAdd{
    background: url(../../assets/cart_fill.svg) no-repeat center;   
    background-size: 32px 25px;
}
.cartRemove{
    background: url(../../assets/cart_empty.svg) no-repeat center;   
    background-size: 32px 25px;
}
#price{
    background: url(../../assets/rupee.svg) no-repeat center;   
    background-size: 100%;
    width: 18px;
    height: 18px;
    margin: 0;
}
textarea,em{
    background: rgba(104, 103, 107, 0.1);
    border: 1px solid rgba(224, 153, 94, 0.25);
}
textarea+p{
    background: url(../../assets/enter.svg) no-repeat center;   
    background-size: 25px 25px;
    width: 30px;
    height: 25px;
}
em{
    padding: 10px;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 0px 3px rgba(224, 153, 94, 0.5);
}
em+p{
    background: url(../../assets/edit_icon.svg) no-repeat center;   
    background-size: 25px 25px;
    width: 30px;
    height: 25px;
}
p.comment__delIcon{
    background: url(../../assets/delIcon.svg) no-repeat center;   
    background-size: 22px 22px;
    width: 22px;
    height: 22px;   
}
@media only screen and (max-width: 768px) {
    ul li{
        margin: 0px;
    }
    ul.desc li:last-child{
        display: inline-block;
        vertical-align: middle;
    }
    /* label.text-right{
        text-align: left !important;
    } */
}



