/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';

html,body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin:0;
    font-family: font2;
    overflow: hidden;
}
*{
    outline: none;
}
ul{
    padding: 0;
    margin:0;
}
ul li{
    list-style: none;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 2px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #a89797; 
    border-radius: 2px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ab843a; 
}
input::-webkit-input-placeholder { 
    /*color: #E0E0E0;*/
    font-size: 12px;
}
div,p,span{
    font-family: font2;
    /* color: #ab843a; */
}
header,.ui-widget-content{
    background-color: #23212f;
}
@font-face {
    font-family: font1;
    src: url(assets/font/rale/Raleway-ExtraBoldItalic.ttf);
}
@font-face {
    font-family: font2;
    src: url(assets/font/rale/Raleway-Medium.ttf);
}
@font-face {
    font-family: fontL;
    src: url(assets/font/rale/Raleway-Light.ttf);
}
@font-face {
    font-family: fontLI;
    src: url(assets/font/rale/Raleway-LightItalic.ttf);
}
section{
    padding: 55px 15px 10px 15px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: auto;
}
section > div.internalDiv{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 55px 25px 5px 25px;
    top: 0;
    left: 0;
    overflow: auto;
    background: rgba(35, 33, 47, 0.76);
}
.ant-slider{
    margin: 0;
}
app-login .ui-card{
    width: 350px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 360px;
    margin: auto;
    padding: 25px 10px;
}
app-login .ui-card-subtitle,app-login .ui-card-title{
    text-align: center;
    color: #ab843a;
}
app-login .ui-card-title{
    font-family: font1;
    font-weight: 100;
    font-size: 34px;
}
.ui-sidebar{
    font-family: font1;
}
app-login .ui-state-default,.ui-inputgroup .ui-inputgroup-addon{
    background: #ab843a;
}
app-my-cart .ui-state-active{
    background: #ab843a;
    border: none;
}
.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only{
    font-size: 14px;
    padding: 2px 0 5px 0;
    border-radius: 0;
    border: none;
}
.ui-button-text.ui-clickable{
    color: #cccccc;
}
.ui-inputgroup .ui-inputgroup-addon:first-child{
    border-radius: 0;
}
.ui-sidebar-top{
    background: none;
    box-shadow: none;
    border: none;
    height: 100%;
}
app-login .ui-toast .ui-toast-message-content{
    background: rgba(84, 15, 21, 0.57);
    /* #540f15; */
}
app-painting .ui-toast .ui-toast-message-content{
    background: rgba(255, 227, 153, 0.59);
    /* #ffe399; */
}
app-my-cart .ui-toast .ui-toast-message-content{
    background: rgba(60, 140, 63, 0.6);
    /* #3C8C3F; */
    color: #e2e1e1;
}
app-my-cart .ui-widget-header{
    background-color: rgba(171, 132, 58, 0.73);
}
app-paint-cart > div,app-photo-cart > div{
    height: 93%;
    border: 1px solid rgba(171, 132, 58, 0.36);
    width: 100%;
    margin: auto;
    padding: 2% 0;
}
app-paint-cart > div aside,app-photo-cart > div aside,app-paint-cart > div article,
app-photo-cart > div article{
    height: 100%;
    float: left;
    overflow: auto;
}
app-paint-cart > div aside,app-photo-cart > div aside{
    border-right: 1px solid  rgba(171, 132, 58, 0.36);
}

/* popup */
.ant-modal{
    width: 85% !important;
    height: 92% !important;
    overflow: auto;
    padding: 0;
}
.ant-modal-content{
    background: #23212f;
}
.ant-modal-content .ant-modal-header,.ant-modal-close-x{
    display: none;
}
.ant-modal-content .ant-modal-body{
    padding: 0;
}

@media only screen and (max-width: 768px) {
    section{
        padding: 80px 25px 5px 15px;
    }
    section > div.internalDiv{
        padding: 55px 25px 20px 25px;
    } 
    app-paint-cart > div, app-photo-cart > div{
        overflow: auto;
    }
    app-paint-cart > div aside, app-photo-cart > div aside{
        border-right: none;
    }
    app-paint-cart > div aside,app-photo-cart > div aside,app-paint-cart > div article,
    app-photo-cart > div article{
        height: auto;
        overflow: unset !important;
    }
    app-paint-cart > div aside,app-photo-cart > div aside{
        border-bottom: 1px solid  rgba(171, 132, 58, 0.36);
    }
}

