section{
    background: url(../../assets/bg.jpg) no-repeat center;
    background-size: cover;
}
aside,article{
    position: relative;
    z-index: 4;
    padding: 0;
    width: 100%;
    color: #ab843a;
}
article{
    background: rgba(35, 33, 47,0.8);
    text-align: center;
}
aside .jumbotron,aside .jumbotron p{
    background: none;
    font-family: fontL;
    font-size: 30px;
}
aside .jumbotron p,aside .jumbotron label{
    background: rgba(134, 94, 25, 0.3);
    padding: 5px 10px;
    color: #ffffff;
}
aside .jumbotron label{
    font-size: 18px;
}
article > div{
    display: inline-block;
    vertical-align: middle;
    width: 350px;
    height: 200px;
    box-shadow: 1px 1px 10px #000000;
}
article > div:first-child{
    background: url(../../assets/painter.PNG) no-repeat center;
    background-size: cover; 
}
article > div:last-child{
    background: url(../../assets/photo.jpg) no-repeat center;
    background-size: cover;
    background-position: 0 -45px; 
}
article div p{
    position: absolute;
    margin: auto;
    left: 0;
    right:0;
    bottom:0;
    width: 100%;
    text-align: center;
    font-size: 32px;
    height: 50px;
    z-index: 6;
    background: rgba(37, 34, 46, 0.59);
    font-family: font1;
}
@media only screen and (max-width: 768px) {
    .col-lg-6{
        width: 49%;
        margin: 0 5px;
    }
    aside h1{
        font-size: 1.5em;
    }
    aside p,aside label{
        font-size: 24px;
    }
    article,aside{
        margin: 10px 0 5px 0;
    }
    article > div{
        width: 85% !important;
    }
}

