<section>
  <div class="internalDiv">
    <aside>
      <div class="jumbotron mb-2" [@blurEffect]>
          <h1 class="display-4">Welcome to Akram's Art Gallery !!!</h1>
          <h2>A collage of various arts.</h2>
          <label> - We are not ourselves if we hide our talents.</label>
        </div>
    </aside>
    <article>
      <div [@leafLeft]="currentState" class="col-xs-12 col-sm-6 col-md-6 col-lg-6 mr-4 ml-4 mt-4 mb-4" routerLink="/painting">
          <p> PAINTING </p>
      </div>
      <div [@leafRight]="currentState" class="col-xs-12 col-sm-6 col-md-6 col-lg-6 mr-4 ml-4 mt-4 mb-4" routerLink="/photography">
          <p> PHOTOGRAPHY </p>
      </div>
    </article>
  </div>
</section>